*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}


.container{
    display: grid;  
    grid-template-columns: 15vw 85vw;  
}

.dashboard {
    font-family: "Roboto";
    color: white;
    height: 100vh;
    background-color: rgb(0, 131, 238);

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 1fr;
    row-gap: 15px;

}

.main-content{
    display: grid;
    grid-template-rows: 20vh 80vh;
}

.dash {
    padding: 20px 20px 40px 20px;
}

.main-func, .support-func {
    padding: 0px 0px 35px 20px;
}

.func {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 15px;
}

.dash {
    display: flex;
    align-items: center;
    gap: 15px;
}

img{
    width: 30px;
    height: auto;
}

.icondash {
    width: 50px;
    height: auto;
}

.searchbar {
    background-color: white;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    padding: 5px 60px 20px 60px;
     

}

.cardspace {
    font-family: "Roboto";
    background-color:#cedbe7;
    display: grid;
    grid-template-columns: 60vw 20vw;
    grid-template-rows: 40vh 30vh;    
    padding: 20px;
    box-shadow: inset 0px 10px 10px -12px rgba(0,0,0,0.5);

}

.your-project{
    grid-row: span 2;
}

.section-title {
    padding-bottom: 10px;
    font-size: 22px;
}

.cards {
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 20vh 20vh 20vh;
    row-gap: 25px;
    justify-items: start;

}

.card{

    width: 450px;
    height: 180px;
    background-color: white;
    border-left: 12px solid orange;
    border-radius: 8px; 
    padding:30px 60px 0px 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-icons{

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 30px;
    gap:5px;
}

.card-icon{
    padding: 5px;
}

.announcement-card {
    display: grid;
    height: 34vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 30px 60px 0px 60px;

  
}
.article-bd {
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 10px;
    
}
.ann-description {
    font-size: 14px;
}

.trending-card {
    display: grid;
    height: 32vh;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px 60px 0px 30px;

}

.user-logo {
    width: 50px;
    height: auto;
}
.user-profile{
    display: flex;
    gap: 20px;
    align-items: center;
}

.adress {
    font-weight: bold;
}
    
.first-row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 200px;
}

.bar {
    background-color: #cedbe7;
    height: 30px;
    width: 800px;
    border-radius: 14px;
}

.search-area{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    column-gap: 10px;
}

.profile-area{
    display: grid;
    grid-template-columns: 30px 70px 180px;
    justify-content: flex-end;
    align-items: center;
    column-gap: 20px;
}
.profile-icon{
    width: 60px;
    height: auto;
}

.second-row {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.second-col {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    justify-content: flex-end;
    align-items: center;
}

.first-col {
    display: grid;
    grid-template-columns: 100px 400px;
    align-items: center;
    column-gap: 10px;
}

button{
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    justify-content: space-around;
    background-color: rgb(0, 131, 238);
    font-family: "Roboto";
    color:white;
    font-size: 16px;
}

.profile {
    height: 100px;
    width: auto;
}

.na {
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
    padding-top: 5px;
}

.sup-name{
    padding: 5px;
}
