*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    display: grid;  
    grid-template-columns: 15vw 85vw;  
}

.dashboard {
    font-family: "Roboto";
    color: white;
    height: 100vh;
    background-color: rgb(0, 131, 238);

    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: auto auto 1fr;
    row-gap: 15px;

}

.main-content{
    display: grid;
    grid-template-rows: 20vh 80vh;
}

.dash {
    padding: 20px 20px 40px 20px;
}

.main-func, .support-func {
    padding: 0px 0px 35px 20px;
}

.func {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    gap: 15px;
}

.dash {
    display: flex;
    align-items: center;
    gap: 15px;
}

img{
    width: 30px;
    height: auto;
}

.icondash {
    width: 50px;
    height: auto;
}

.searchbar {
    background-color: white;
}

.cardspace {
    background-color: grey;
}